.review__content {
	max-width: 527px;
}
.review {
	background: $var6;
	display: inline-flex;
	align-items: center;
	margin-bottom: 15px;
	width: 100%;
	&__title {
		color: $var7;
		font-size: 27px;
		font-weight: 700;
		margin-bottom: 14px;
	}
	&__text {
		font-size: 18px;
		font-weight: 400;
		color: $var8;
		margin-bottom: 25px;
	}
	&__writer {
		color: $var7;
		font-weight: 500;
		font-size: 18px;
	}
}
.review__img {
	max-width: 253px ;
	margin-right: 40px;
	padding: 42px 0px 42px 42px;
}
.authors__list {
	display: flex;
	gap: 12px;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.authors--img {
	cursor: pointer;
	border: 6px solid transparent;
	border-radius: 50%;
	box-sizing: border-box;
	width: 74px;
	&:hover {
		border: 6px solid yellow;
		border-radius: 50%;
		gap: 6px;
		transition: .5s;
	}
}
.feedback {
	margin-bottom: 62px;
}
.authors__elem:hover .review--sec{
	left: 0;
}
.review--sec{
	position: absolute;
	left: -9999px;
}
.review--third{
	position: absolute;
	left: -9999px;
}