.footer {
  padding: 20px 0;
  background-color: #fff;
}
.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials__item {
  margin-right: 14px;
}
.socials__item:last-child {
  margin-right: 0;
}

.contacts__address {
  color: #292929;
  font-weight: 400;
  font-size: 21px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}