.footer{
    padding: 1.1rem 0;
    background-color: #fff;
    position: absolute;
    bottom: 0;

    &__col{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
}
.socials{
    display: flex;

    &__item{
        margin-right: 0.7rem;
        &:last-child{
            margin-right: 0;
        }
    }

}
.contacts__address{
    color: #292929;
    font-weight: 400;
    font-size: 1.16rem;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.footer{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.socials{
    display: flex;
    align-items: center;
}
.socials__item{
    margin-right: 0.7rem;

    &:last-child{
        margin-right: 0;
    }
}
.socials__item{
    width: 1.32rem; height: 1.32rem;
    position: relative;
    cursor: pointer;
    display: flex;
}
.socials__link{
    width: 1.32rem; height: 1.32rem;
}
.socials__item--vk::after{
    content: "";
    display: block;
    position: absolute;
    width: 1.32rem;height:1.32rem;
    top: -25%;
    left: 50%;
    transform: translate(-50%,50%);
    background: url(./images/icons.png) -50px -238px;
}
.socials__item--f::after{
    content: "";
    display: block;
    position: absolute;
    width: 1.32rem;height: 1.32rem;
    top: -50%;
    left: 50%;
    transform: translate(-50%,50%);
    background-position: -250px -98px;
}
.socials__item--insta::after{
    content: "";
    display: block;
    position: absolute;
    width: 1.32rem;height:1.32rem;
    top: -50%;
    left: 50%;
    transform: translate(-50%,50%);
    background-position: -250px -186px;
}
.socials__item--twitter::after{
    content: "";
    display: block;
    position: absolute;
    width: 1.32rem;height: 1.32rem;
    top: -50%;
    left: 50%;
    transform: translate(-50%,50%);
    background-position: -10px -238px;
}