.form {
	display: flex;
	padding-bottom: 4.72rem;

	&--font-color--white{
		color: #fff;
	}
	&--background{
		background: #b2b2b2 url(./images/cta.png) top center/cover no-repeat;
	}
	&:last-child{
		padding-bottom: 0;
	}
}
.form__column{
	flex: 1;
	margin-right: 1.1rem;
	
	&:last-child{
		margin-right: 0;
	}
}
.form__row{
	display: flex;
	margin-bottom: 0.4rem;

	&:last-child{
		margin-bottom: 0;
	}
}
.form__block{
	flex: 1;
	margin-right: 1.1rem;

	&:last-child{
		margin-right: 0;
	}
}
.form__input{
	width: 100%;
	border: none;
	padding: 1rem 0.61rem;
	border: solid 0.16rem transparent;
	&--textarea{
		height: 10rem;
		resize: none;
	}
	&:focus{
		border-color: $var3;
		outline: none;
	}
}
.form__controls{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.05rem;

	&:last-child{
		margin-bottom: 2.5rem;
	}
}
.section__title {
	padding-top: 2.94rem;
	margin-bottom: 3.4rem;
}