.main-page {
	color: $var1;
    background: url(./images/main-bg.png) center center/cover no-repeat;
	min-height: 652px;
	.container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__hello {
		margin-bottom: 64px;
	}
	&__content{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 50%;
	}
	&__advanteges{
		padding-bottom: 68px;
	}
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 0;
	z-index: 1000;
	width: 100%;
}
.menu__list {
	display: flex;
}
.menu__item {
	margin-right: 22px;
	&:last-child {
		margin: 0;
	}
}
.menu__link {
	font-size: 18px;
	font-weight: 700;
}
.contacts__phone {
	font-size: 22px;
	font-weight: 700;

	&--black{
		color: #292929;
		font-weight: normal;
		font-size: 21px;
	}
}
.contacts--phone::before {
	content: "";
	display: inline-flex;
    background: url(./images/footer/phone.png) no-repeat;
	width: 12px;
	height: 12px;
	margin-right: 6px;
}
.hello__title {
	margin-bottom: 27px;
}
.title__pages {
	font-size: 72px;
	font-weight: 700;
	line-height: 0.90;
}
.hello__text {
	font-size: 21px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 45px;
}

.advantege__list {
	display: inline-flex;
	
}
.advantege__item {
	display: inline-flex;
	max-width: 142px;
	margin-right: 74px;
	&:last-child{
		margin-right: 0;
	}
}
.advantege__text {
	font-size: 16px;
	font-weight: 700;
}
.advantege__img {
	height: 35px;
	margin-right: 14px;
	display: block;
}
