@import "css/media.scss";
.menu{
	margin: 0 30px;
	padding-top: 5px;
	@include tablets{
		display: none;
	}
}
.main-page {
	color: $var1;
    background: url(./images/main-bg.png) center center/cover no-repeat;

	@include tablets{
		background: white;
	}
	.container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include tablets{
			width: 100%;
		}
		@include phones{
			background: #1968B1;
		}
	}
	&__hello {
		margin-bottom: 3.5rem;

		@include tablets{
			width: 100%;
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			background: url(./images/main-bg.png) center center/cover no-repeat;
			background-position: right;
		}
		@include phones{
			background: #1968B1;
		}
	}
	&__content{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 50%;
	}
	&__advanteges{
		padding-bottom: 3.7rem;
	}
}
.header {
	display: flex;
	// align-items: center;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1.3rem 0;
	z-index: 1000;
	width: 100%;

	@include tablets{
		background: #1968B1;
	}
}
.logo{
	@include tablets{
		margin-left: rem(30px);
	}
}
.header__phone{
	display: flex;
    padding-top: 5px;
	@include tablets{
		display: none;
	}
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.menu__item {
	margin-right: 1.2rem;
	margin-bottom: 10px;
	&:last-child {
		margin: 0;
	}
}
.menu__link {
	font-size: 1rem;
	font-weight: 700;
	white-space: nowrap;
}
.contacts__phone {
	font-size: 1.2rem;
	font-weight: 700;
	white-space: nowrap;
	&--black{
		color: #292929;
		font-weight: normal;
		font-size: 1.16rem;
	}
}
.contacts--phone::before {
	content: "";
	display: inline-flex;
    background-position: -218px -186px;
	width: 0.6rem;
	height: 0.6rem;
	margin-right: 0.3rem;
}
.hello__title {
	margin-bottom: 1.5rem;
	text-transform: uppercase;



}
.title__pages {
	font-size: 4rem;
	font-weight: 700;
	line-height: 0.90;

	@include tablets{
		line-height: 57.2px;
		font-size: 48px;
		padding: 0 6%;
	}
	@include phones{
		font-size: 40px;
		line-height: 36px;
	}
}
.hello__text {
	font-size: 1.16;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 2.5rem;
}

.advantege__list {
	display: inline-flex;
	
}
.main-page__advanteges{
	@include tablets{
		display: none;
	}
}
.advantege__item {
	display: inline-flex;
	align-items: center;
	max-width: 7.8rem;
	margin-right: 4.1rem;
	&:last-child{
		margin-right: 0;
	}
}
.advantege__text {
	font-size: 0.8rem;
	font-weight: 700;
}
.advantege__img {
	height: 1.94rem;
	margin-right: 0.7rem;
	display: block;
}
// .overlay{
// 	opacity: 0;
// 	position: fixed;
// 	left: 100%;
// 	top: 0;
// 	z-index: 10;
// }
// .overlay--active{
// 	left: 0;
// 	opacity: 1;
// }