.team__title {
	font-size: 1.16rem;
	font-weight: 700;
	position: relative;
	display: flex;
	align-items: flex-end;
	cursor: pointer;
	justify-content: center;
	border-bottom: 0.5rem solid transparent

}
.teams__title{
	margin-bottom: 3rem;
}
.team__img {
	min-height: 16.1rem;
	margin-bottom: 1.1rem;
}

.team__list {
	display: flex;
	gap: 1.1rem;
	justify-content: center;
}
.team__item {
	max-width: 12.2rem;
}
.team__hidden {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	transition: opacity .8s;
}
.proffesion {
	font-size: 1rem;
	font-weight: normal;
}
.duties {
	text-align: center;
	font-size: 1rem;
	font-weight: 300;
	color: $var4;
}

.team__title--triangle::after {
	content: "";
	border: 0.2rem solid transparent;
	border-top: 0.3rem solid $var2;
	cursor: pointer;
	display: inline-flex;
	margin-left: 0.2rem;
	margin-bottom: 0.27rem;
}
.team__title--triangle:hover::after {
	border-top: 0.2rem solid transparent;
	border-bottom: 0.3rem solid $var2;
}
.team__title--triangle:hover ~ .team__hidden {
	opacity: 1;
	transition: opacity .8s;
	display: flex;
}