@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
.main-page {
  color: #ffffff;
  background: url(./images/main-bg.png) center center/cover no-repeat;
  min-height: 652px;
}
.main-page .container {
  position: relative;
}
.main-page__hello {
  margin-bottom: 64px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 104px;
  padding-top: 24px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 22px;
}
.menu__item:last-child {
  margin: 0;
}

.menu__link {
  font-size: 18px;
  font-weight: 700;
}

.contacts__phone {
  font-size: 22px;
  font-weight: 700;
}

.contacts--phone::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: url(./images/footer/phone.png) no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.hello__title {
  max-width: 583px;
  margin-bottom: 18px;
}

.title__pages {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
}

.hello__text {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 39px;
}

.main-page__advanteges {
  padding-bottom: 68px;
}

.advantege__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.advantege__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 142px;
  margin-right: 34px;
}
.advantege__item:last-child {
  margin-right: 0;
}

.advantege__text {
  font-size: 16px;
  font-weight: 700;
}

.advantege__img {
  height: 35px;
  margin-right: 14px;
  display: block;
}

.pagination {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  right: 0;
  top: 240px;
}
.pagination__item {
  margin-bottom: 14px;
}
.pagination__link {
  background: #ffffff;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
.pagination__link:hover {
  color: white;
}
.pagination__link:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.pagination__link:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  -webkit-box-shadow: 0 0 0 2px #ffffff;
          box-shadow: 0 0 0 2px #ffffff;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
.pagination__link:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.features {
  margin-bottom: 114px;
}
.features .container {
  width: auto;
}

.features__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 81px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 17px;
}

.features__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 49px;
}

.features__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  color: #666666;
  max-width: 436px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature__list {
  max-width: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__img {
  margin-bottom: 50px;
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.feature__icon {
  height: 69px;
  width: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feature__title {
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.feature__item-circle::after {
  z-index: -1;
  content: url("./images/icons/Combinedshape.png");
  display: block;
  position: absolute;
  left: -62px;
  top: 42px;
}

li.feature__item.feature__item-circle:first-child:after {
  display: none;
}

.feature__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__text {
  font-size: 18px;
  font-weight: 300;
  color: #666666;
  text-align: center;
  max-width: 279px;
}

.review__content {
  max-width: 527px;
}

.review {
  background: #F8FAF9;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  width: 100%;
}
.review__title {
  color: #292929;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 14px;
}
.review__text {
  font-size: 18px;
  font-weight: 400;
  color: #666666;
}
.review__writer {
  color: #292929;
  font-weight: 500;
  font-size: 18px;
}

.reviev-img {
  max-width: 253px;
  margin-right: 40px;
  padding: 42px 0px 42px 42px;
}

.authors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authors--img {
  cursor: pointer;
  border: 6px solid transparent;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 74px;
}
.authors--img:hover {
  border: 6px solid yellow;
  border-radius: 50%;
  gap: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.feedback {
  margin-bottom: 62px;
}

.team__title {
  font-size: 21px;
  font-weight: 700;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.team__img {
  min-height: 290px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item {
  max-width: 220px;
}

.team__hidden {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

.proffesion {
  font-size: 18px;
  font-weight: normal;
}

.duties {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #666666;
}

.team__title--triangle::after {
  content: "";
  border: 4px solid transparent;
  border-top: 6px solid #000000;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 4px;
  margin-bottom: 5px;
}

.team__title--triangle:hover::after {
  border-top: 4px solid transparent;
  border-bottom: 6px solid #000000;
}

.team__title--triangle:hover ~ .team__hidden {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form--font-color--white {
  color: #fff;
}
.form--background {
  background: #b2b2b2 url(../images/cta.png) top center/cover no-repeat;
}

.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__column:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent;
}
.form__input--textarea {
  height: 180px;
  resize: none;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 19px;
}
.form__controls:last-child {
  margin-bottom: 46px;
}

.button--primary {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.125;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  cursor: pointer;
  border-radius: 35px;
  padding: 18px 40px;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000000;
  border: transparent;
}

.button--yellow {
  background: #FEDB3F;
}

.button--borderless {
  background: transparent;
  font-weight: 400;
  padding-left: 20px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 9px;
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("../images/icons/yes2.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 14px;
  height: 14px;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  line-height: 1.42em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.title {
  padding-top: 62px;
}